.parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
.loading {
    display: flex;
    justify-content: center;
    margin-top: 128px;
}

.foundValue {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #282626;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.search-input {
  width: 33%; 
  height: 64px;
  background-color:white;
  color: #656EC2;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 128px;
  border-radius: 0px;
  box-shadow: 0px 7px 25px rgba(100, 100, 111, 0.20);
  border: none;
  outline: none;
  text-indent: 36px;
}



::-webkit-input-placeholder { /* WebKit browsers */
  color: #656EC2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #656EC2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #656EC2;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #656EC2;
}